body{
    background: linear-gradient(right, blue, white);
    height: 100%;
    /*background-color: paleturquoise;*/
    text-align: center;
}

/*.navigation div{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    border: black 3px solid;
}*/

h1{
    font-size: 40px;
    font-family: Impact;
    font-weight: bold;
}

.consulting-button{
    text-align: center;
    width: 30%;
    background-color: rgb(83, 179, 83);
}

.declutering-button{
    text-align: center;
    width: 30%;
    background-color: rgb(173, 173, 88);
}

.button-link{
    display:inline-block;
    padding: 100px;
    margin: 10px;
    color: Black;
    text-decoration: none;
    border-radius: 5px;
}