body{
    background-color: paleturquoise;
    text-align: center;
}

.navigation div{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    border: black 3px solid;
}

h1{
    font-size: 40px;
    font-family: Impact;
    font-weight: bold;
}

.consult-button{
    margin-right: 15px;
    /*width: 50%;*/
    background-color: green;
}

.declutering-button{
    text-align: center;
    /*width: 50%;*/
    background-color: yellow;
}

.button-link{
    display:inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}