body{
    background-color: paleturquoise;
    text-align: center;
}

.navigation div{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    border: black 3px solid;
}

h1{
    font-size: 40px;
    font-family: Impact;
    font-weight: bold;
}

#consultButton{
    text-align: right;
    width: 50%;
}

#decluterButton{
    text-align: left;
    width: 50%;
}

.navigation a{
    text-align: center;
}