body{
    background-color: paleturquoise;
    text-align: center;
}

.navigation a{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    width: 50%;
    border: 3px;
}